#If MacOs - Please install aria2 manually via brew
aria2;sys_platform != 'darwin'
openai >= 1.99.3
gallery-dl
instaloader
googletrans-py
opencv-python
google-genai>=1.51.0
PyYAML
pandas
ultralytics==8.3.107
dynamicprompts